{% extends 'basic_layout.html' %}

{% block content %}

<header>
    <nav class="navbar navbar-dark bg-primary mb-3">
        <a href="{% url 'libstore:library' %}" class="btn btn-warning mr-sm-2"> Back </a></p>
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"> Log out </button>
        </form>

    </nav>
</header>
<div class="container border border-primary">
    <div class="row ml-2">
        <p class="h3"> {{ book.topic_title }} </p>
    </div>
    <div class="row ml-2">
        <p> {{ book.date }} </p>
    </div>
    <div class="row ml-2 mr-2 mb-2 border border-dark">
        <img src="{{ book.img.url }}" class="img-fluid" alt="Responsive image"/>
    </div>
</div>

{% if book.stored_file != null %}
<div class="pull-right mt-2 ml-2">
<p> file size : {{ book.stored_file.size }} </p>
<a href="/media/{{book.stored_file.name}}" download>Download</a>
</div>
{% endif %}

{% endblock %}