{% extends 'basic_layout.html' %}

{% block content %}

<header>
    <nav class="navbar navbar-dark bg-primary">

        <div class="mr-sm-2">
            <a href="{% url 'libstore:create_book' %}" class="btn btn-success"> create an awesome book </a>
        </div>
        <div class="my-2 my-sm-0">
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-success " type="submit"> Log out </button>
        </form>
    </div>
    </nav>
</header>
<div class="container mt-3">
    {% for bk in book %}
    <div class="card border-dark mb-3 inline-block" style="max-width: 18rem;">
        <img class="card-img-top" src="/media/{{bk.img}}" height="100px" width="10px" alt="Card image cap">
        <div class="card-body">
            <h3 class="display-4"> <a class="card-link" href="{% url 'libstore:book_details' slug=bk.slug %}">
                    {{ bk.topic_title }} </a></h3>
            <h5 class="card-text"> {{ bk.slug }} </h3>
                <p class="card-subtitle mb-2 text-muted"> {{ bk.date }} </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}